.explore-side {
  padding: 5% 10%;
  padding-bottom: 0;
}
.explore-side .explore-heading {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.explore-side .explore-heading h3 {
  font-size: 40px;
  font-weight: 600;
}
.explore-side .explore-heading button {
  width: 190px;
  height: 45px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
}
.explore-side .explore-heading button:hover {
  background-color: black;
  border: none;
  color: white;
}
.explore-side .explore-nft-cards {
  padding: 5% 0;
}
.explore-side .explore-nft-cards .card {
  padding: 3%;
  border: 0;
  box-shadow: 0px 4.57051px 54.8461px rgba(197, 197, 197, 0.25);
}
.explore-side .explore-nft-cards .card .card-inf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.explore-side .explore-nft-cards .card .card-inf .person-inf-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-side .explore-nft-cards .card .card-inf .person-inf-card h6 {
  padding-top: 6%;
  padding-left: 6%;
  font-weight: 600;
}
.explore-side .explore-nft-cards .card .card-inf .price-nft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.explore-side .explore-nft-cards .card .card-inf .price-nft p {
  margin: 0;
  color: gray;
}
.explore-side .explore-nft-cards .card .card-inf .price-nft div {
  width: 60px;
}
.explore-side .explore-nft-cards .card .card-inf .price-nft div b {
  margin-left: 3%;
}
.explore-side .discover {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-side .discover button {
  width: 190px;
  height: 45px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
}
.explore-side .discover button:hover {
  background-color: black;
  border: none;
  color: white;
}
.explore-side .mobile-link {
  width: 100%;
  height: 500px;
  background: #151515;
  margin: 15% auto;
  border-radius: 40px;
  position: relative;
}
.explore-side .mobile-link img {
  position: absolute;
  z-index: 999;
}
.explore-side .mobile-link .dot {
  top: -15%;
  left: -5%;
  width: 200px;
}
.explore-side .mobile-link .iPhone-13 {
  right: 20%;
  bottom: 0;
  width: 30%;
  z-index: 998;
}
.explore-side .mobile-link .phone-content {
  right: 22.5%;
  bottom: 0;
  width: 26.5%;
  border-radius: 30% 70px 0px 0px;
}
.explore-side .mobile-link .link {
  padding: 100px 120px;
}
.explore-side .mobile-link .link h1 {
  font-size: 80px;
  color: white;
}
.explore-side .mobile-link .link button {
  width: 190px;
  height: 45px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  color: white;
}
.explore-side .mobile-link .link button span {
  font-weight: 900;
}
.explore-side .mobile-link .link button:hover {
  color: black;
  background-color: #fff;
}

footer {
  background-color: #fff;
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
}
footer .footer-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  padding: 0;
  gap: 20px;
}
footer .footer-heading h1 {
  font-weight: 500;
  font-size: 50px;
}
footer .footer-heading p {
  color: gray;
  font-size: 15px;
}
footer .footer-uls {
  display: flex;
  justify-content: space-around;
  align-items: start;
  position: relative;
}
footer .footer-uls ul {
  list-style: none;
}
footer .footer-uls ul li {
  margin-bottom: 20px;
}
footer .footer-uls ul li a {
  text-decoration: none;
  color: gray;
}
footer .footer-uls ul li a:hover {
  text-decoration: underline;
}
footer .footer-uls ul li input {
  width: 300px;
  height: 70px;
  border-radius: 70px;
  border: 0.95px solid #000000;
  padding: 10px 15px;
}
footer .footer-uls .logo-links {
  position: absolute;
  bottom: 0;
  right: 10%;
  display: grid;
  width: auto;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}
footer .footer-uls .logo-links img {
  width: 35px;
  height: 35px;
}/*# sourceMappingURL=LandingPage-2.css.map */