* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: "Poppins", sans-serif;
}

.explore-side {
    padding: 5% 5%;
    padding-bottom: 0;

    .explore-heading {
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-size: 40px;
            font-weight: 600;
        }

        button {
            width: 190px;
            height: 45px;
            border: 1px solid black;
            background-color: transparent;
            border-radius: 20px;
            font-size: 15px;
            font-weight: 600;

            &:hover {
                background-color: black;
                border: none;
                color: white;
            }
        }
    }

    .explore-nft-cards {
        padding: 5% 0;

        .card {
            padding: 3%;
            border: 0;

            .card-body {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                height: 120px;
            }

            .card-inf {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .person-inf-card {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h6 {
                        padding-top: 6%;
                        padding-left: 6%;
                        font-weight: 600;
                    }
                }

                .price-nft {
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    p {
                        margin: 0;
                        color: gray;
                        margin-bottom: 0;
                    }

                    div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 55px;

                        b {
                            margin-left: 3%;
                        }
                    }
                }
            }
        }
    }

    .discover {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            width: 190px;
            height: 45px;
            border: 1px solid black;
            background-color: transparent;
            border-radius: 20px;
            font-size: 15px;
            font-weight: 600;

            &:hover {
                background-color: black;
                border: none;
                color: white;
            }
        }
    }

    .mobile-link {
        width: 100%;
        height: 500px;
        background: #151515;
        margin: 15% auto;
        border-radius: 40px;
        position: relative;

        img {
            position: absolute;
            z-index: 999;
        }

        .dot {
            top: -15%;
            left: -7%;
            width: 200px;
        }

        .iPhone-13 {
            right: 70px;
            bottom: 0;
            width: 30%;
            z-index: 998;
        }

        .phone-content {
            right: 100px;
            bottom: 0;
            width: 26.5%;
            border-radius: 30% 70px 0px 0px;
        }

        .link {
            padding: 100px 120px;

            h1 {
                font-size: 80px;
                color: white;
                margin-bottom: 20px;
            }

            button {
                width: 190px;
                height: 45px;
                border: 1px solid white;
                background-color: transparent;
                border-radius: 20px;
                font-size: 15px;
                font-weight: 600;
                color: white;

                span {
                    font-weight: 900;
                }

                &:hover {
                    color: black;
                    background-color: #fff;
                }
            }
        }
    }
}

footer {
    background-color: #fff;
    padding: 5% 5%;
    display: flex;
    justify-content: space-around;

    .footer-heading {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 300px;

        h1 {
            font-weight: 500;
            font-size: 50px;
        }

        p {
            color: gray;
            font-size: 15px;
        }

        .togl {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 170px;

            img {
                width: 40px;
                height: 40px;
            }
        }
    }

    .footer-uls {
        display: flex;
        position: relative;
        justify-content: space-around;
        width: 800px;

        ul {
            list-style: none;

            li {
                margin-bottom: 20px;

                a {
                    text-decoration: none;
                    color: gray;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                input {
                    width: 270px;
                    height: 50px;
                    outline: none;
                    border: none;
                    padding: 0 10px;
                    border-radius: 30px;
                    background: none;
                    color: #FF56BB;
                }

                div {
                    border: 1px solid #000000;
                    border-radius: 70px;
                    padding-left: 15px;

                    .submit {
                        background-color: #000;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        font-size: 25px;
                        font-weight: 900;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.6;
                        }
                    }
                }
            }

            li:last-child {
                div:first-child {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }

        .logo-links {
            position: absolute;
            bottom: 15%;
            right: 8%;
            display: grid;
            width: auto;
            gap: 25px;
            grid-template-columns: repeat(4, 1fr);

            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 10px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: linear-gradient(108.39deg, #FF56BB 6.99%, #FF8F77 119.86%);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #fff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider:before {
    display: block;
}

.slider:after {
    display: none;
}

.light {
    background-color: #fff;
    box-shadow: 0px 4.57051px 54.8461px rgba(197, 197, 197, 0.25);
    color: #000;
}

.dark {
    background-color: #000;
    color: #fff;
}

.dark-theme {
    background-color: #151515;
    color: #fff;
}